// Define variables for your color scheme

// For example:
$red: #EE5F5B;
$blue: #469AE0;
$yellow: #FDB631;
$green: #32B796;
$gray-dark: rgb(62, 73, 78);
$orange: #F99166;
$gray: #40494D;
$light-gray: #f2f2f2;
$white: #FFFFFF;
