.dashboard {
  display: flex;
  // --> Side bar
  .dash-sidebar {
    background-color: white;
    position: fixed;
    top: 70px;
    left: 0;
    bottom: 50px;
    // height: calc(100vh - 120px);
    width: 300px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    padding: 1rem 0;
  }
  // Profile
  .dash-profile {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  // Links
  .dash-link {
    color: $gray-dark;
    transition: ease all 300ms;
  }
  .dash-link:hover {
    color: $orange;
    text-decoration: none;
  }
  .absolute-link {
    position: absolute;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }
  // Dash action
  .dash-actions {
    width: 100%;
  }
  .action-link {
    width: 100%;
    padding: 2rem;
    display: flex;
    justify-content: center;
    transition: 300ms ease all;
    position: relative;
  }
  .action-link:hover {
    background-color: $gray-dark;
    color: $orange;
  }
  .active {
    font-weight: bold;
    color: $orange;
  }
  hr {
    border: solid 1px $orange;
    width: 50px;
  }
  // --> Dash container
  .dash-container {
    margin-left: 300px;
    display: grid;
    min-height: calc(100vh - 120px);
    grid-template-rows: 1fr 1fr;
    grid-template-columns: 1fr 1fr 1fr;
    flex: 1 1 auto;
  }
  .dash-graph {
    grid-column: 1 /span 3;
  }
  .dash-card {
    margin: 2rem;
    background-color: white;
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);

  }
  // Main dash
  .main-dash {
    margin-left: 300px;
    width: 100%;
  }
}
