<div class="dashboard">
  <%= render "sidebar" %>
  <div class="dash-container">
    <div class="courses-taken dash-card">
      <h3>Courses taken</h3>
      <p class="text-center"><%= @courses_taken %></p>
    </div>
    <div class="total-revenue dash-card">
      <h3>Total revenue</h3>
      <p class="text-center"><%= @total_revenue %></p>
    </div>
    <div class="courses-given dash-card">
      <h3>Courses given</h3>
      <p class="text-center"><%= @courses_given %></p>
    </div>
    <div class="dash-graph dash-card">

    </div>
  </div>
</div>
