<div class="container">
  <% if @bookings.empty? %>
    <h1 class="text-center">You have no bookings yet!</h1>
    <p class="text-center">
      Please go to our <%= link_to 'courses list', courses_path %> to start learning new skills!
    </p>
  <% else %>
    <%= render 'bookings' %>
  <% end %>

  <% if @courses.empty? %>
    <h1 class="text-center">You have no courses yet!</h1>
    <p class="text-center">
      Please create a <%= link_to 'new course', new_course_path %> to start teaching new skills!
    </p>
  <% else %>
    <%= render 'courses' %>
  <% end %>
</div>
