<div class="dashboard">
  <%= render "sidebar" %>
  <div class="dash-container">
    <div class="courses-taken dash-card">
      <i class="fas fa-user-astronaut card-icon"></i>
      <h3>Courses taken</h3>
      <p><%= @courses_taken %></p>
    </div>
    <div class="total-revenue dash-card">
      <i class="fas fa-user-astronaut card-icon"></i>
      <h3>Total revenue</h3>
      <p><%= @total_revenue %></p>
    </div>
    <div class="courses-given dash-card">
      <i class="fas fa-user-astronaut card-icon"></i>
      <h3>Courses given</h3>
      <p><%= @courses_given %></p>
    </div>
    <div class="dash-graph dash-card">

    </div>
  </div>
</div>
