<div class="footer">
  <div class="footer-cartridge">
    <div class="footer-links">
      <a href="https://github.com/lewagon"><i class="fab fa-github"></i></a>
      <a href="https://www.instagram.com/lewagonparis/?hl=fr"><i class="fab fa-instagram"></i></a>
      <a href="https://www.facebook.com/lewagonfrance/?brand_redir=116941945171079"><i class="fab fa-facebook"></i></a>
      <a href="https://twitter.com/lewagonparis"><i class="fab fa-twitter"></i></a>
      <a href="https://www.linkedin.com/school/le-wagon/?originalSubdomain=fr"><i class="fab fa-linkedin"></i></a>
    </div>
    <div class="footer-mentions">
      <p>TERMS AND CONDITIONS</p>
      <p>PRIVACY POLICY</p>
      <p>ABOUT US</p>
    </div>
    <div class="footer-quote">
      Find the TA of your <i class="fa fa-heart"></i>
    </div>
  </div>
  <div class="footer-copyrights">
    <p>Copyright 2018@All rights reserved.</p>
  </div>
</div>
