<div class="container">
  <div class="row">
    <% @courses.each_with_index do |course, index| %>
    <div class="col-xs-12 col-sm-4" id="main-grid">
      <% if index === 2 %>
        <%= render partial: 'shared/cta_card' %>
      <% else %>
        <%= render partial: 'shared/card', locals: { course: course } %>
      <% end %>
    </div>
    <% end %>
  </div>
</div>
