.banner {
  color: white;
  text-align: inherit;
  height: 85vh;
  background-size: cover !important;
  display: flex;
  align-items: center;
  justify-content: start;
}

.banner-content {
  margin-bottom: 15px;
  margin-left: 120px;
  margin-right: 800px;


}

.banner h1 {
    color: #FFFFFF;
    font-size: 36px;
    font-weight: bold;
    line-height: 40px;

}


.banner p {
    color: #FFFFFF;
    font-size: 15px;
    line-height: 22px;
    margin: 10px 170px 30px auto;
}
