.red-button {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: #971F53;
  transition: background 0.3s ease;
}

.red-button:hover {
  color: white;
}

.book-button {
  color: white;
  padding: 12px 123px;
  border-radius: 4px;
  font-weight: bold;
  background: #ec6033;
  transition: background 0.3s ease;
  margin-left: 12px;

}

.book-button:hover {
 text-decoration: none;
 color: white;
 background-color: $green;
}

.book-button-cancel {
  color: white;
  padding: 16px 80px;
  border-radius: 4px;
  font-weight: bold;
  background: #ec6033;
  transition: background 0.3s ease;
}

.book-button-cancel:hover {
 text-decoration: none;
 color: #f5f5f5;
 background-color: red;
}

.margin-button {
  margin-top: 80px;
}

input[type="file"] {
 display: none;
}

label.file {
  background-color: white;
  border-radius: $border-radius-base;
  font-weight: normal;
  cursor: pointer;
  border: 1px solid #ccc;
  padding: 1rem;
  width: 100%;
  opacity: 1;
}

label.file:hover {
  opacity: 0.8;
}
