.red-button {
  color: white;
  padding: 10px 15px;
  border-radius: 4px;
  font-weight: bold;
  background: $orange;
  transition: background 0.3s ease;
}
.red-button:hover {
  color: white;
}

.global-button {
  color: white;
  border-radius: 4px;
  font-weight: bold;
  background: #ec6033;
  transition: background 0.3s ease;
  justify-content: center;
  height: 42px;
  margin: 4px 10px 4px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.book-button:hover {
background-color: $green;
}

.global-button a {
  text-decoration: none;
  color: white;
}

.global-button a:hover{
  color:white;
}

.global-button:hover {
 text-decoration: none;
 color: white;
}

.cancel-button:hover {
background-color: red;
}

.margin-button {
  margin-top: 80px;
}

.white-button {
  color: $orange;
  border-radius: 4px;
  font-weight: bold;
  background: white;
  transition: background 0.3s ease;
  justify-content: center;
  height: 42px;
  margin: 4px 10px 4px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;

}

.white-button a {
  text-decoration: none;
  color: $orange;
}

.white-button:hover {
 text-decoration: none;
 color: $orange;
}
