.course-card {
  height: 280px;
  margin: 2px;
  border: solid 1px black;
}
.course-card-img-top {
  height: 140px;
  background-size: cover;
}
.course-card-body {
  height: 140px;
  background-color: white;
}
.course-card-body .cardridge {
  display: flex;
  height: 92px;
  justify-content: space-between;
  padding: 0px 24px;
  align-items: center;
}
.course-card-body .left-cardridge h6 {
  color: black;
  font-weight: 900;
  font-size: 24px;
  margin: 0px;
}
.course-card-body .left-cardridge p {
  color: $gray;
  font-size: 18px;
  font-weight: 500;
  margin: 0px;
}
.course-card .button {
  display: flex;
  height:48px;
  width: 100%;
  color: white;
  background-color: #FB6315;
  justify-content: center;
  align-items: center;
  line-height: 10px;
  font-family: $body-font;
  font-weight: 700;
  text-decoration: none;
}
.course-card .button:hover {
  opacity: 0.8;
}

.card {
  height: 280px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
}
.card-user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-left: 20px;
}
.card-cartridge-user {
  position: absolute;
  display: inline;
  padding: 0px 0px 0px 20px;
  border-radius: 20px;
  top: 10px;
  right: 10px;
  font-size: 15px;
  text-transform: uppercase;
  color: white;
  background-color: #FFFFFF33;
}
.card-title h2 {
  position: absolute;
  bottom: 6px;
  left: 20px;
  font-size: 40px;
  font-weight: 700;
}
.card-title p {
  position: absolute;
  background: orange;
  padding: 0px 12px;
  border-radius: 6px;
  bottom: 6px;
  right: 20px;
  font-size: 20px;
  font-weight: 500;
  opacity: 0.9;
}
.card-category {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 15px;
  text-transform: uppercase;
}
.card-description {
  position: absolute;
  bottom: 10px;
  left: 10px;
}
.card-description h2 {
  font-size: 24px;
}
.card-description p {
  font-size: 14px;
  opacity: 0.7;
  font-weight: lighter;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}

.cta {
  background-image: linear-gradient(rgba(0,0,0,0.5), rgba(0,0,0,0.3));
}

