.details {
  color: black;
  margin: 12px 0px;
  padding: 20px;
  background: white;
  border-radius: 4px;
  box-shadow: 9px 9px 6px #ccc;

}

.details-description {
  background: white;
}

.details-user {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.details-call {
  background: white;
  text-align: center;
}

.details-h3-span {
  font-size:16px;
}



/* haut | droit | bas | gauche */
// padding: 5px 1em 0 2em;
