.kudoz {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 1rem;
  margin-top: 2rem;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  transition: ease all 300ms;
  .kudoz-right {
    display: flex;
    align-items: center;
  }
  &:hover {
    background-color: $orange-transparent;
  }
  a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
  }
  p {
    margin: 0;
    margin-left: 1rem;
  }
  .fa-check {
    color: $green;
  }
  .fa-times {
    color: $red;
  }
}
