.wrap {
  display: flex;
  align-items: center;
  background: #FAFAFA;
  height: 300px;
  text-align:center;
  background-size: cover !important;

}

#left, #right, #center {
  margin: 0 35px 0 35px;
}

h3 {
  font-weight: bold;
}

h2 {
  margin: 50px 0 30px 100px;
  text-align: center;
}


